#top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fdfdfb;
    justify-content: center;
}

#head-text {
    width: 90%;
    text-align: center;
}

#q-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5%;
}

#bigbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#wordbox {
    display: flex;
    flex-direction: row;
}

.dots {
    padding-right: 5px;
}

#wordbox p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 60px;
    color: #565656;
    -moz-transition: all 0.2 ease-in;
    -o-transition: all 0.2 ease-in;
    -webkit-transition: all 0.2 ease-in;
    transition: all 0.2 ease-in;
}

#wordbox div:hover p:hover {
    cursor: default;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#prefixbox {
    text-align: left;
}


#prefixbox p:hover {
    text-shadow: 0px 0px 15px rgb(98,173,147);
}

#basebox p:hover {
    text-shadow: 0px 0px 15px rgb(98,124,173);
}

#suffixbox p:hover {
    text-shadow: 0px 0px 15px rgb(173,98,124);
}

#basebox {
    text-align: center;
}

#suffixbox {
    text-align: center;
}

#bigmeaningbox {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    justify-content: center;
}

#meaningbox p {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #757575;
}

body {
    background-color: #f4f1eb;
}

#q-mark a {
    color: #31291a;
    text-decoration: none;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#q-mark a:hover {
    color: #725d3a;
    cursor: help;
    text-decoration: none;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}